
.btn {
    font-size: 26px;
        width: 150px;
        height: 45px;
        margin-left: 20px;
}

.form {
    align-items: center;
    justify-content: center;
    
}

.input {
font-size: 26px;
}

.label {
    margin-left: 20px;
}